<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
X="Ashwitha"
L=list(X)
p=0
for a in L:
  p=p+1
print(p)

8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
A={}
B="ashwitha"
for i in B:
  if i in A:
     A[i]+=1
  else:
     A[i]=1
print(A)

{'a': 2, 's': 1, 'h': 2, 'w': 1, 'i': 1, 't': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
C=[1,2,3,4,5,6]
Q=0
for i in C:
   Q=Q+i
print(Q)

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
D="ashwitha"
S=D[0]
S+=D[1:].replace(D[0],"$")
print(S)

ashwith$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a=1
b=2
S=3.14*((1+(a/b))**3)
print(S)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}

final_dict= {**dict1, **dict2, **dict3} 
print(final_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
P=("A","C",1,9,5,"B","D")
print("D" in P)
print(7 in P)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
set1={1,5,7,4,9,23,10}
E=max(set1)
F=min(set1)
print("maximum in set1 is",E)
print("minimum in set1 is",F)

maximum in set1 is 23
minimum in set1 is 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
new_list=[]
size=5
for j in range(0,len(student_list),size):
  new_list.append(student_list[j:j+size])
print(new_list)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
array1=[10,13,16,18,10,9,8,7]
if len(set(array1)) == len(array1):
  print(-1)
else:
  for k in set(array1):
    if array1.count(k) > 1:
      print(k)

10

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta

def sundays(year):
       dt1 = date(year, 1, 1)    
       dt1 += timedelta(days = 6 - dt1.weekday())  
       while dt1.year == year:
          yield dt1
          dt1 += timedelta(days = 7)
          
for s in sundays(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27

In [ ]:
import numpy as np
year = input()
s_count = np.busday_count(year, str(int(year)+1),weekmask='Sun')
print('number of sundays in the year {0} are {1}'.format(year,s_count))

2020
number of sundays in the year 2020 are 52