<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
from random import randint
import math
A=[]
for x in range(12):
   A.append(randint(1,100))
print("The original list is",A)
A.sort()
print("list in ascending order",A)
A.sort(reverse=True)
print("list in descending order",A)
average=sum(A)/len(A)
print("Average of the list",average)

The original list is [78, 63, 98, 4, 86, 41, 97, 33, 52, 10, 13, 51]
list in ascending order [4, 10, 13, 33, 41, 51, 52, 63, 78, 86, 97, 98]
list in descending order [98, 97, 86, 78, 63, 52, 51, 41, 33, 13, 10, 4]
Average of the list 52.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:

#entering 2 sentences
S1=input()
S2=input()
#converting into to list
list1=S1.split()
list2=S2.split()
print(list1)
print(list2)
#comparing and printing common words
common_words = set(list1).intersection( set(list2) )
print(common_words)
#removing punctuation marks and printing back the sentence
punctuation_marks=[",","."]
for x in S1:
  if x in punctuation_marks:
    S1=S1.replace(x,"")
print(S1)
#Counting the number of vowels in the sentences
vowel_list1={}
vowels=['a','e','i','o','u']
for i in S1:
  if i in vowels:
    vowel_list1[i]=S1.count(i)
print(vowel_list1)
vowel_list2={}
for j in S2:
  if j in vowels:
    vowel_list2[j]=S2.count(i)
print(vowel_list2)

Python is a very high-level programming language , yet it is effortless to learn .
Python has an extensive standard library available for anyone to use .
['Python', 'is', 'a', 'very', 'high-level', 'programming', 'language', ',', 'yet', 'it', 'is', 'effortless', 'to', 'learn', '.']
['Python', 'has', 'an', 'extensive', 'standard', 'library', 'available', 'for', 'anyone', 'to', 'use', '.']
{'.', 'Python', 'to'}
Python is a very high-level programming language  yet it is effortless to learn
{'o': 4, 'i': 5, 'a': 5, 'e': 8, 'u': 1}
{'o': 11, 'a': 11, 'e': 11, 'i': 11, 'u': 11}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
pi=22/7
for r in range(1,10):
  Volume=4/3* pi*(r**3)
  print(r,Volume)

1 4.19047619047619
2 33.52380952380952
3 113.14285714285712
4 268.19047619047615
5 523.8095238095237
6 905.142857142857
7 1437.333333333333
8 2145.523809523809
9 3054.857142857142

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Assignment1_denton_housing.csv'
import pandas as pd
df = pd.read_csv(path)

Mounted at /content/drive

In [ ]:
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

1)Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [ ]:
dict1={}
A=set(df['year'])
for j in sorted(list(A))[:-1]:
  previous_year = 0
  new_year = 0
  for col, row in df.iterrows():
    if row['year'] == j and row['title_field'] == 'Occupied Housing Units':
      previous_year += row['value']
    if row['year'] == j+1 and row['title_field'] == 'Occupied Housing Units':
      new_year += row['value']
  dict1[str(j)+'-'+str(j+1)] = abs(previous_year - new_year)

In [ ]:
ascending_order=sorted(dict1.values())
ascending_dict={}
for i in ascending_order:
  for k in dict1.keys():
    if(dict1[k]==i):
      ascending_dict[k]=dict1[k]
for key,value in ascending_dict.items():
  print(key,":",value)

2010-2011 : 303
2008-2009 : 795
2011-2012 : 1404
2012-2013 : 1565
2013-2014 : 2622
2009-2010 : 5091

2)For all the years, calculate the percentage of housing units which are vacant an occupied.

In [ ]:
A=set(df['year'])
list1=list(A)
for j in sorted(list1):
  housing_total = 0
  occupied_housing = 0
  vacant_housing = 0
  year = 0
  for col, row in df.iterrows():
    if row['year'] == j and row['title_field'] == 'Total Housing Units' :
      year = row['year']
      housing_total = row['value']
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      occupied_housing = row['value']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      vacant_housing = row['value']
  percentage_occupied_housing = int((occupied_housing / housing_total) * 100)
  percentage_vacant_housing = int((vacant_housing / housing_total) * 100)
  print(year," ",str(percentage_vacant_housing)+'%'," ",str(percentage_occupied_housing)+'%')

2008   10%   89%
2009   9%   90%
2010   8%   91%
2011   9%   90%
2012   6%   93%
2013   8%   91%
2014   5%   94%

3)Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.

In [ ]:
maximum_occupied=0
maximum_vacant=0
year1=0
year2=0
for j in sorted(list(set(df['year']))):
 for col,row in df.iterrows():
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      if row['value']>maximum_occupied:
        maximum_occupied=row['value']
        year1=row['year']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      if row['value']>maximum_vacant:
        maximum_vacant=row['value']
        year2=row['year']

In [ ]:
print('                       ', 'year',   'value')
print('Vacant Housing Units   ' , year2 , maximum_vacant)
print('Occupied Housing Units ' , year1,  maximum_occupied)

                        year value
Vacant Housing Units    2008 4483
Occupied Housing Units  2014 46295

4)Calculate the harmonic mean of the total housing units and print it out.

In [ ]:
total_housing = list()
for col, row in df.iterrows():
  if row['title_field'] == 'Total Housing Units':
    total_housing.append(row['value'])

In [ ]:
total = len(total_housing)
p = 0
for i in total_housing:
  p += (1/i)
print(total/p)

44398.28543969185